/* add " :root { " ? */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  /* text area currently only used for hour block text areas */
  background: transparent;
  background-color: rgb(194, 194, 194);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  /* This is the header */
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 15px;
  margin: 0px;
}

.fullDayContainer {
  padding-left: 30px;
  padding-right: 30px;
}


.oneHourSection {
  border-top: 3px solid white;
  display: flex;
  height: 100px;
  text-align: center;
}

.taskInputArea {
  white-space: pre-wrap;
}

.hourLabel {
  border-top: dashed 1px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  /* for background color if hour section has already passed */
  background-color: #d3d3d3;
  color: black;
}

.present {
  /* for background color if hour section is the current hour */
  background-color: #ff6961;
  color: black;
}

.future {
  /* for background color if hour section is still in the future */
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  /* styling for the save button needed at right side of hour section */
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover,
.extrasBtn:hover {
  background-color: aqua;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.extrasBtn {
  background-color: #06aed5;
  border-radius: 10px;
  color: white;
  float: right top;
  padding: 5px;
}

.hideExtras {
  display: none;
}